html, body {
  height: 100%;
}

.fill-height {
  min-height: 100%;
  height:auto !important; /* cross-browser */
  height: 100%; /* cross-browser */
}

.bg1{
  background-image: url("./backgrounds/train-scenery.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-box-1,
.content-box-2,
.nav-bar,
.main-box,
.player{
  position: relative;
  background-color: #131313de;
  color: white;
  text-align: center;
  font-size: 1.5em;
  top: 5px;
}

.nav-bar,
.content-box-1,
.content-box-2{
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.nav-bar{
  height: 10dvh;
}

.content-box-1,
.content-box-2{
  height: 40dvh;
}

.main-box{
  height: 91dvh;
}

.player{
  height: 7dvh;
}



